{%- from 'jenkins/map.jinja' import jenkins with context -%}
- job:
    block-downstream: false
    block-upstream: false
    builders:
    - shell: |-
        set -eu
        CONFIG={{ jenkins.home }}/jenkins_jobs.ini
        test -e $CONFIG
        find . -name '*.yml' -exec jenkins-jobs --conf $CONFIG update '{}' \;
    concurrent: false
    description: null
    disabled: false
    name: !!python/unicode 'jenkins_job_builder'
    project-type: freestyle
    publishers: []
    scm:
    - git:
        branches:
        - '*/master'
        url: {{ jenkins.jobs_repo_url }}
    triggers:
    - timed: '0 * * * *'
{% if jenkins.job_builder_secret is defined %}
    wrappers:
      - ssh-agent-credentials:
          users:
            - '{{ jenkins.job_builder_secret_id }}'
{% endif %}
