{% from "jenkins/map.jinja" import jenkins %}
<?xml version='1.0' encoding='UTF-8'?>
<proxy>
  <name>{{ jenkins.proxy.address }}</name>
  <port>{{ jenkins.proxy.port }}</port>
  <noProxyHost>{% for host in jenkins.proxy.no_proxy|default([]) %}{{ host }}
{% endfor %}</noProxyHost>
  {% if jenkins.proxy.pass is defined %}<secretPassword>{{ jenkins.proxy.pass }}</secretPassword>{% endif %}
  <testUrl>http://www.google.de</testUrl>
</proxy>
